.card {
    width: calc(100% / 6 - 10px );
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid white;
}

.card img:hover {
    transform: rotate(5deg);
    
}


.textCardProp {
    color: blueviolet;
}

.titleCardProp {
    color: darkred;
}