.footerTop {
    color: gray;
    background-image: url(../assets/img/dc-logo-bg.png), url("../assets/img/footer-bg.jpg") ;
    background-size: 40%, cover;
    background-repeat: no-repeat;
    background-position: center right;

}

.footerBot {
    background-color: black;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    display: block;
    padding: 10px;
    border: 2px solid blue;
}


.col {
    width: calc(100% / 6);
    
}

.titleList {
    margin-bottom: 10px;
    color: white;
    
}

