.footerTop {
    color: gray;
    background-image: url(../assets/img/dc-logo-bg.png), url("../assets/img/footer-bg.jpg") ;
    background-size: 40%, cover;
    background-repeat: no-repeat;
    background-position: center right;

}

.footerBottom {
    background-color: darkgray;
}

.col {
    width: calc(100% / 6);
    
}

.titleList {
    margin-bottom: 10px;
    color: white;
    
}

