/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

/* UTILITIES */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* LAYOUT */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/* DEGUB */
/* .text-center {
    text-align: center;
} */