/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

/* UTILITIES */


.active {
    padding-bottom: 10px;
    color: blue;
    border-bottom: 3px solid blue;
    border-radius: 5px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.gap-20 {
    gap: 10px;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}




/* LAYOUT */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.py-40 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-20 {
    padding: 20px 0px;
}

.mx-20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.bg-gray {
    background-color: black
}

/* DEGUB */
/* .text-center {
    text-align: center;
} */